In [9]:
import pandas as pd
import numpy as np
import os

In [10]:
# Define fuction
def add_num(x,y):
    sum = x + y
    return sum

In [11]:
# Run function
add_num(9,11)

20

In [12]:
path = r'C:\Users\johan\Documents\Insta Basket Analysis'

In [13]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [14]:
ords_prods_merge.shape

(32404859, 14)

In [15]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0

In [16]:
#create a subset
df = ords_prods_merge[:1000000]

In [17]:
df.shape

(1000000, 14)

In [18]:
df.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0

In [19]:
df.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices'],
      dtype='object')

In [12]:
# define a function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid range product'
  elif row['prices'] > 15:
    return 'High range product'
  else: return np.nan

In [10]:
# Apply the function
df['prices_range'] = df.apply(price_label, axis=1)

C:\Users\johan\AppData\Local\Temp\ipykernel_20360\2380628727.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prices_range'] = df.apply(price_label, axis=1)

In [19]:
df['prices'].value_counts(dropna=False)

prices
Mid range product     673183
Low range product     314392
High range product     12425
Name: count, dtype: int64

In [13]:
df['prices'].max()

99999.0

In [9]:
df['prices'].min()

1.0

# If-Statements with the loc() Function

In [ ]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [ ]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [ ]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [16]:
df['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     673183
Low-range product     314392
High-range product     12425
Name: count, dtype: int64

In [8]:
ords_prods_merge.shape

(32404859, 14)

In [1]:
ords_prods_merge.head()

In [8]:
ords_prods_merge.loc[ords_prods_merge['prices']>15,'price_range_loc']='High-range product'

In [9]:
ords_prods_merge.loc[(ords_prods_merge['prices']<=15) & (ords_prods_merge['prices'] > 5),'price_range_loc'] ='Mid-range product'

In [10]:
ords_prods_merge.loc[ords_prods_merge['prices'] <=5, 'price_range_loc'] = 'Low-range product'

ords_prods_merge['price_range_loc'].value_counts(dropna=False)

In [11]:
print(ords_prods_merge['price_range_loc'].value_counts(dropna=False))

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [14]:
ords_prods_merge.shape

(32404859, 15)

In [2]:
ords_prods_merge.head()

# If-Statements with For-Loops

In [16]:
print("My Age is 30")

My Age is 30

In [17]:
print("My Age is 31")

My Age is 31

In [18]:
print("My Age is 32")

My Age is 32

In [19]:
print("My Age is 33")

My Age is 33

In [20]:
for x in range(30, 45): print ("My age is %d" % (x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

In [21]:
ords_prods_merge['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [6]:
result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [10]:
#result

In [26]:
hasil = []

for x in ords_prods_merge["orders_day_of_week"]:
  if x == 0:
    hasil.append("Busiest day")
  elif x == 4:
    hasil.append("Least busy")
  else:
    hasil.append("Regularly busy")

In [11]:
#hasil

In [7]:
ords_prods_merge['busiest_day'] = result

In [8]:
ords_prods_merge['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

# Task 4.7

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\johan\Documents\Insta Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [4]:
ords_prods_merge.shape

(32404859, 14)

In [5]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0

In [6]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_label'] = 'High-range product'

In [7]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_label'] = 'Mid-range product'

In [8]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_label'] = 'Low-range product'

In [9]:
ords_prods_merge['price_label'].value_counts(dropna=False)

price_label
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [10]:
ords_prods_merge.shape

(32404859, 15)

In [11]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_label
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,Mid-range product
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product

In [12]:
ords_prods_merge['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [13]:
result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [14]:
ords_prods_merge['busiest_day'] = result

In [15]:
ords_prods_merge['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [16]:
ords_prods_merge.shape

(32404859, 16)

In [17]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_label,busiest_day
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy

In [18]:
# 2. Task 2

In [19]:
results = []

for value in ords_prods_merge["orders_day_of_week"]:
    if value in [0, 1]:
        results.append("Busiest days")
    elif value in [3, 4]:
        results.append("Least busy days")
    else:
        results.append("Regularly busy")

In [20]:
ords_prods_merge['Busiest_days'] = results

In [21]:
ords_prods_merge['Busiest_days'].value_counts(dropna=False)

Busiest_days
Regularly busy     12916111
Busiest days       11864412
Least busy days     7624336
Name: count, dtype: int64

In [22]:
ords_prods_merge.shape

(32404859, 17)

In [23]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_label,busiest_day,Busiest_days
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy

In [24]:
# 3. Check

In [25]:
ords_prods_merge['Busiest_days'].value_counts(dropna=False)

Busiest_days
Regularly busy     12916111
Busiest days       11864412
Least busy days     7624336
Name: count, dtype: int64

In [26]:
# 4

In [27]:
ords_prods_merge['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [28]:
results_h = []

for value in ords_prods_merge["order_hour_of_day"]:
    if value in [10, 11, 14, 15, 13, 12, 16, 9]:
        results_h.append("Most orders")
    elif value in [17, 8, 18, 19, 20, 7, 21]:
        results_h.append("Average orders")
    else:
        results_h.append("Fewest order")

In [29]:
ords_prods_merge['busiest_period_of_day.'] = results_h

In [30]:
# 5

In [31]:
ords_prods_merge['busiest_period_of_day.'].value_counts(dropna=False)

busiest_period_of_day.
Most orders       21118071
Average orders     9363426
Fewest order       1923362
Name: count, dtype: int64

In [32]:
ords_prods_merge.shape

(32404859, 18)

ords_prods_merge.head()

In [33]:
# Coba dengan menampilkan lebih sedikit baris
ords_prods_merge.head(3)  # Tampilkan hanya 3 baris pertama

# Atau gunakan
ords_prods_merge.iloc[:5]  # Tampilkan 5 baris pertama

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_label,busiest_day,Busiest_days,busiest_period_of_day.
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders

In [34]:
#7

In [35]:
# Export data to pkl

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_ex7.pkl'))