# Merging Your Instacart Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\johan\Documents\Insta Basket Analysis'

In [3]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [4]:
#check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_clean.csv'), index_col = False)

In [6]:
#df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [7]:
#check the output
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,11.114836
1,1,2398795,1,prior,2,3,7,15.000000
2,2,473747,1,prior,3,3,12,21.000000
3,3,2254736,1,prior,4,4,7,29.000000
4,4,431534,1,prior,5,4,15,28.000000

In [8]:
df_ords = df_ords.drop(columns=['Unnamed: 0'])

In [9]:
df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,11.114836
1,2398795,1,prior,2,3,7,15.000000
2,473747,1,prior,3,3,12,21.000000
3,2254736,1,prior,4,4,7,29.000000
4,431534,1,prior,5,4,15,28.000000

In [10]:
#df_ords = df_ords.drop(columns=['eval_set'])

In [11]:
df_ords_prior.shape

(32434489, 4)

In [12]:
df_ords.shape

(3421083, 7)

In [13]:
# --- both----

In [14]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [15]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,11.114836,196,1,0,both
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,both
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,both
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,both
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,both

In [16]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [17]:
df_merged_large.shape

(32434489, 11)

In [18]:
df_merged_large = df_merged_large.drop('_merge', axis=1)

In [19]:
df_merged_large.shape

(32434489, 10)

In [20]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,11.114836,196,1,0
1,2539329,1,prior,1,2,8,11.114836,14084,2,0
2,2539329,1,prior,1,2,8,11.114836,12427,3,0
3,2539329,1,prior,1,2,8,11.114836,26088,4,0
4,2539329,1,prior,1,2,8,11.114836,26405,5,0

# export pickle format

In [21]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))