In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\johan\Documents\Insta Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_ex7.pkl'))

In [4]:
ords_prods_merge.shape

(32404859, 18)

In [5]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_label,busiest_day,Busiest_days,busiest_period_of_day.
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders

In [6]:
# Create a subset
df = ords_prods_merge[:1000000]

In [7]:
df.shape

(1000000, 18)

In [8]:
df.head(10)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_label,busiest_day,Busiest_days,busiest_period_of_day.
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders
5,2398795,1,prior,2,3,7,15.000000,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders
6,2398795,1,prior,2,3,7,15.000000,10258,2,0,Pistachios,117,19,3.0,Low-range product,Regularly busy,Least busy days,Average orders
7,2398795,1,prior,2,3,7,15.000000,12427,3,1,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Least busy days,Average orders
8,2398795,1,prior,2,3,7,15.000000,13176,4,0,Bag of Organic Bananas,24,4,10.3,Mid-range product,Regularly busy,Least busy days,Average orders
9,2398795,1,prior,2,3,7,15.000000,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Least busy days,Average orders

# Grouping Data with pandas

In [9]:
df.groupby('product_name')

# Aggregating Data with agg()

df.groupby('department_id').agg({'order_number': ['mean']})

In [10]:
df.groupby('department_id')['order_number'].mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_number, dtype: float64

In [11]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                14.800024   1  99
2                17.091743   1  98
3                17.913544   1  99
4                17.893092   1  99
5                15.214270   1  99
6                15.382135   1  99
7                17.694027   1  99
8                16.458105   1  91
9                15.957363   1  99
10               20.091818   1  99
11               16.482026   1  99
12               15.615061   1  99
13               16.484023   1  99
14               17.524632   1  99
15               15.691875   1  99
16               18.014071   1  99
17               16.150593   1  99
18               19.602850   1  99
19               17.631340   1  99
20               17.138607   1  99
21               21.956893   1  97

In [12]:
ords_prods_merge.shape

(32404859, 18)

# Aggregating Data with transform()

In [13]:
# Create a loyalty flag using loc

In [14]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\johan\AppData\Local\Temp\ipykernel_28620\1681540670.py:1: FutureWarning: The provided callable <function max at 0x000001C485152AC0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
ords_prods_merge.shape

(32404859, 19)

In [16]:
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_label,busiest_day,Busiest_days,busiest_period_of_day.,max_order
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders,10
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders,10
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders,10
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders,10
5,2398795,1,prior,2,3,7,15.000000,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10
6,2398795,1,prior,2,3,7,15.000000,10258,2,0,Pistachios,117,19,3.0,Low-range product,Regularly busy,Least busy days,Average orders,10
7,2398795,1,prior,2,3,7,15.000000,12427,3,1,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Least busy days,Average orders,10
8,2398795,1,prior,2,3,7,15.000000,13176,4,0,Bag of Organic Bananas,24,4,10.3,Mid-range product,Regularly busy,Least busy days,Average orders,10
9,2398795,1,prior,2,3,7,15.000000,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Least busy days,Average orders,10
10,2398795,1,prior,2,3,7,15.000000,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,Low-range product,Regularly busy,Least busy days,Average orders,10
11,473747,1,prior,3,3,12,21.000000,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10
12,473747,1,prior,3,3,12,21.000000,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Least busy days,Most orders,10
13,473747,1,prior,3,3,12,21.000000,10258,3,1,Pistachios,117,19,3.0,Low-range product,Regularly busy,Least busy days,Most orders,10
14,473747,1,prior,3,3,12,21.000000,25133,4,0,Organic String Cheese,21,16,8.6,Mid-range product,Regularly busy,Least busy days,Most orders,10

In [15]:
ords_prods_merge.head(100)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_label,busiest_day,Busiest_days,busiest_period_of_day.,max_order
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders,10
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders,10
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders,10
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,prior,4,2,10,8.000000,21150,13,0,Fire Grilled Steak Bowl,38,1,5.9,Mid-range product,Regularly busy,Regularly busy,Most orders,14
96,1673511,2,prior,5,3,11,8.000000,47144,1,0,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,Mid-range product,Regularly busy,Least busy days,Most orders,14
97,1673511,2,prior,5,3,11,8.000000,5322,2,0,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,Low-range product,Regularly busy,Least busy days,Most orders,14
98,1673511,2,prior,5,3,11,8.000000,17224,3,0,Oats & Honey Gluten Free Granola,3,19,1.6,Low-range product,Regularly busy,Least busy days,Most orders,14
99,1673511,2,prior,5,3,11,8.000000,38656,4,0,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,Low-range product,Regularly busy,Least busy days,Most orders,14

In [16]:
pd.options.display.max_rows = None

# Deriving Columns with loc()

In [17]:
#ords_prods_merge.groupby('product_name')

In [18]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [19]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [20]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [21]:
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [24]:
ords_prods_merge.shape

(32404859, 20)

In [25]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1