In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\johan\Documents\Insta Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_ex7.pkl'))

In [4]:
ords_prods_merge.shape

(32404859, 18)

In [5]:
# 2.

In [6]:
ords_prods_merge.groupby('product_name')

# Grouping Data with pandas

In [7]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [8]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In [9]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.457838   1  99
2                17.277920   1  99
3                17.170395   1  99
4                17.811403   1  99
5                15.215751   1  99
6                16.439806   1  99
7                17.225802   1  99
8                15.340650   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170638   1  99
12               15.887671   1  99
13               16.583536   1  99
14               16.773669   1  99
15               16.165037   1  99
16               17.665606   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

In [10]:
# 3. Analyze the result. How do the results for the entire dataframe

In [11]:
# Cek if all rows dataset included
total_rows = ords_prods_merge.shape[0]
print(f"Total rows in dataset: {total_rows}")

# Count total rows in groupby
rows_in_groupby = ords_prods_merge.groupby('department_id')['order_number'].count().sum()
print(f"Total rows in groupby: {rows_in_groupby}")

# Compare if they are same
if total_rows == rows_in_groupby:
    print("✅ All ROW counted by groupby!")
else:
    print("❌ These are any ROW not included groupby!")

Total rows in dataset: 32404859
Total rows in groupby: 32404859
✅ All ROW counted by groupby!

In [12]:
# 4

# Aggregating Data with transform

In [13]:
# Create a loyalty flag using loc

In [14]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\johan\AppData\Local\Temp\ipykernel_8280\1681540670.py:1: FutureWarning: The provided callable <function max at 0x00000254769FAAC0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
ords_prods_merge.shape

(32404859, 19)

In [16]:
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_label,busiest_day,Busiest_days,busiest_period_of_day.,max_order
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders,10
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders,10
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders,10
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders,10
5,2398795,1,prior,2,3,7,15.000000,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10
6,2398795,1,prior,2,3,7,15.000000,10258,2,0,Pistachios,117,19,3.0,Low-range product,Regularly busy,Least busy days,Average orders,10
7,2398795,1,prior,2,3,7,15.000000,12427,3,1,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Least busy days,Average orders,10
8,2398795,1,prior,2,3,7,15.000000,13176,4,0,Bag of Organic Bananas,24,4,10.3,Mid-range product,Regularly busy,Least busy days,Average orders,10
9,2398795,1,prior,2,3,7,15.000000,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Least busy days,Average orders,10
10,2398795,1,prior,2,3,7,15.000000,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,Low-range product,Regularly busy,Least busy days,Average orders,10
11,473747,1,prior,3,3,12,21.000000,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10
12,473747,1,prior,3,3,12,21.000000,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Least busy days,Most orders,10
13,473747,1,prior,3,3,12,21.000000,10258,3,1,Pistachios,117,19,3.0,Low-range product,Regularly busy,Least busy days,Most orders,10
14,473747,1,prior,3,3,12,21.000000,25133,4,0,Organic String Cheese,21,16,8.6,Mid-range product,Regularly busy,Least busy days,Most orders,10

In [13]:
ords_prods_merge.head(100)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_label,busiest_day,Busiest_days,busiest_period_of_day.,max_order
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy,Regularly busy,Average orders,10
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Regularly busy,Average orders,10
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy,Regularly busy,Average orders,10
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy,Regularly busy,Average orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,prior,4,2,10,8.000000,21150,13,0,Fire Grilled Steak Bowl,38,1,5.9,Mid-range product,Regularly busy,Regularly busy,Most orders,14
96,1673511,2,prior,5,3,11,8.000000,47144,1,0,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,Mid-range product,Regularly busy,Least busy days,Most orders,14
97,1673511,2,prior,5,3,11,8.000000,5322,2,0,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,Low-range product,Regularly busy,Least busy days,Most orders,14
98,1673511,2,prior,5,3,11,8.000000,17224,3,0,Oats & Honey Gluten Free Granola,3,19,1.6,Low-range product,Regularly busy,Least busy days,Most orders,14
99,1673511,2,prior,5,3,11,8.000000,38656,4,0,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,Low-range product,Regularly busy,Least busy days,Most orders,14

In [17]:
pd.options.display.max_rows = None

# Deriving Columns with loc()

In [18]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [19]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [20]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [21]:
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [22]:
ords_prods_merge.shape

(32404859, 20)

In [23]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
5         1      New customer             2
6         1      New customer             2
7         1      New customer             2
8         1      New customer             2
9         1      New customer             2
10        1      New customer             2
11        1      New customer             3
12        1      New customer             3
13        1      New customer             3
14        1      New customer             3
15        1      New customer             3
16        1      New customer             4
17        1      New customer             4
18        1      New customer             4
19        1      New customer             4
20        1      New customer             4
21        1      New customer             5
22        1      New customer             5
23        1      New customer             5
24        1      New customer             5
25        1      New customer             5
26        1      New customer             5
27        1      New customer             5
28        1      New customer             5
29        1      New customer             6
30        1      New customer             6
31        1      New customer             6
32        1      New customer             6
33        1      New customer             7
34        1      New customer             7
35        1      New customer             7
36        1      New customer             7
37        1      New customer             7
38        1      New customer             8
39        1      New customer             8
40        1      New customer             8
41        1      New customer             8
42        1      New customer             8
43        1      New customer             8
44        1      New customer             9
45        1      New customer             9
46        1      New customer             9
47        1      New customer             9
48        1      New customer             9
49        1      New customer             9
50        1      New customer            10
51        1      New customer            10
52        1      New customer            10
53        1      New customer            10
54        1      New customer            10
55        1      New customer            10
56        1      New customer            10
57        1      New customer            10
58        1      New customer            10
59        2  Regular customer             1

In [24]:
# 5.

In [25]:
ords_prods_merge.groupby('loyalty_flag').agg({'order_number': ['count','mean', 'median', 'min', 'max','std']})

                 order_number
                        count       mean median min max        std
loyalty_flag
Loyal customer       10284093  32.641196   30.0   1  99  21.699721
New customer          6243990   3.807044    3.0   1  10   2.295622
Regular customer     15876776  12.347452   11.0   1  40   8.484249

In [26]:
# intrepetation:

In [27]:
# Loyal customer: Mean 32 = average spending 32 times > median 30

In [28]:
# > There is a small percentage of loyal customers who shop very frequently (even up to 99x!), so the average is higher than the median value.

In [29]:
# New customer: Mean 4 average spend 4 times, median 3 half of them spend three times or more

In [30]:
# >There is a small percentage of new customers who shop very frequently , so the average is higher than the median value.

In [31]:
# Regular customer:Mean 12 average 12 times meanwhile median11 halh of them spend 11 times or more

In [32]:
# > There is a small percentage of regular customers who shop very frequently , so the average is higher than the median value.

In [33]:
# determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customer

In [34]:
# Statistik price per loyalty_flag
price_analysis = ords_prods_merge.groupby('loyalty_flag')['prices'].agg([
    'mean', 'median', 'min', 'max', 'std', 'count'
]).round(2)

print("ANALYSIS of PRODUCR PRICE per LOYALTY_FLAG:")
print(price_analysis)

ANALYSIS of PRODUCR PRICE per LOYALTY_FLAG:
                   mean  median  min      max     std     count
loyalty_flag
Loyal customer    10.39     7.4  1.0  99999.0  328.02  10284093
New customer      13.29     7.4  1.0  99999.0  597.56   6243990
Regular customer  12.50     7.4  1.0  99999.0  539.72  15876776

In [ ]:
ords_prods_merge.head(1)

In [35]:
# 6

In [71]:
# Create a loyalty flag using loc

In [72]:
ords_prods_merge['mean_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\johan\AppData\Local\Temp\ipykernel_8280\3812100117.py:1: FutureWarning: The provided callable <function mean at 0x00000254769FB4C0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [73]:
ords_prods_merge.head(1)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,price_label,busiest_day,Busiest_days,busiest_period_of_day.,max_order,loyalty_flag,mean_prices,cust_frequent
0,2539329,1,prior,1,2,8,11.114836,196,1,0,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,Regular customer.,6.367797,20.0

In [ ]:
# Deriving Columns with loc()

In [74]:
ords_prods_merge.loc[ords_prods_merge['mean_prices'] < 10, 'spender_flag'] = 'Low spender'

In [75]:
ords_prods_merge.loc[ords_prods_merge['mean_prices'] >= 10, 'spender_flag'] = 'High spender'

In [76]:
ords_prods_merge['spender_flag'].value_counts(dropna=False)

spender_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [77]:
ords_prods_merge.head(1)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,price_label,busiest_day,Busiest_days,busiest_period_of_day.,max_order,loyalty_flag,mean_prices,cust_frequent,spender_flag
0,2539329,1,prior,1,2,8,11.114836,196,1,0,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,Regular customer.,6.367797,20.0,Low spender

In [78]:
ords_prods_merge[['user_id', 'spender_flag', 'prices']].head(60)

    user_id spender_flag  prices
0         1  Low spender     9.0
1         1  Low spender    12.5
2         1  Low spender     4.4
3         1  Low spender     4.7
4         1  Low spender     1.0
5         1  Low spender     9.0
6         1  Low spender     3.0
7         1  Low spender     4.4
8         1  Low spender    10.3
9         1  Low spender     4.7
10        1  Low spender     4.0
11        1  Low spender     9.0
12        1  Low spender     4.4
13        1  Low spender     3.0
14        1  Low spender     8.6
15        1  Low spender     3.2
16        1  Low spender     9.0
17        1  Low spender     4.4
18        1  Low spender     3.0
19        1  Low spender     8.6
20        1  Low spender     1.0
21        1  Low spender     9.0
22        1  Low spender     4.4
23        1  Low spender     3.0
24        1  Low spender     8.6
25        1  Low spender     2.7
26        1  Low spender    14.0
27        1  Low spender     5.0
28        1  Low spender    10.3
29        1  Low spender     9.0
30        1  Low spender     4.4
31        1  Low spender     3.0
32        1  Low spender     8.6
33        1  Low spender     9.0
34        1  Low spender     3.0
35        1  Low spender     4.4
36        1  Low spender     8.6
37        1  Low spender     4.0
38        1  Low spender     4.4
39        1  Low spender     9.0
40        1  Low spender     3.0
41        1  Low spender     8.6
42        1  Low spender    13.4
43        1  Low spender     1.8
44        1  Low spender     1.8
45        1  Low spender    13.4
46        1  Low spender     8.6
47        1  Low spender     9.0
48        1  Low spender     3.0
49        1  Low spender     4.4
50        1  Low spender     9.0
51        1  Low spender    13.4
52        1  Low spender     6.8
53        1  Low spender    12.6
54        1  Low spender     8.6
55        1  Low spender     3.0
56        1  Low spender     1.3
57        1  Low spender     4.0
58        1  Low spender     4.4
59        2  Low spender     5.2

In [ ]:
# 7

In [ ]:
# Create a loyalty flag using loc

In [79]:
ords_prods_merge['cust_frequent'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\johan\AppData\Local\Temp\ipykernel_8280\3846229924.py:1: FutureWarning: The provided callable <function median at 0x0000025476B52A20> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['cust_frequent'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [64]:
# Deriving Columns with loc()

In [83]:
ords_prods_merge.loc[ords_prods_merge['cust_frequent'] > 20, 'freq_flag'] = 'Non-frequent customer.'

In [84]:
ords_prods_merge.loc[(ords_prods_merge['cust_frequent'] > 10) & (ords_prods_merge['cust_frequent'] <= 20), 'freq_flag'] = 'Regular customer.'

In [85]:
ords_prods_merge.loc[ords_prods_merge['cust_frequent'] <= 10, 'freq_flag'] = 'Frequent customer.'

In [86]:
ords_prods_merge['freq_flag'].value_counts(dropna=False)

freq_flag
Frequent customer.        20535136
Regular customer.          9168905
Non-frequent customer.     2700818
Name: count, dtype: int64

In [87]:
ords_prods_merge[['user_id', 'freq_flag', 'cust_frequent']].head(60)

    user_id          freq_flag  cust_frequent
0         1  Regular customer.           20.0
1         1  Regular customer.           20.0
2         1  Regular customer.           20.0
3         1  Regular customer.           20.0
4         1  Regular customer.           20.0
5         1  Regular customer.           20.0
6         1  Regular customer.           20.0
7         1  Regular customer.           20.0
8         1  Regular customer.           20.0
9         1  Regular customer.           20.0
10        1  Regular customer.           20.0
11        1  Regular customer.           20.0
12        1  Regular customer.           20.0
13        1  Regular customer.           20.0
14        1  Regular customer.           20.0
15        1  Regular customer.           20.0
16        1  Regular customer.           20.0
17        1  Regular customer.           20.0
18        1  Regular customer.           20.0
19        1  Regular customer.           20.0
20        1  Regular customer.           20.0
21        1  Regular customer.           20.0
22        1  Regular customer.           20.0
23        1  Regular customer.           20.0
24        1  Regular customer.           20.0
25        1  Regular customer.           20.0
26        1  Regular customer.           20.0
27        1  Regular customer.           20.0
28        1  Regular customer.           20.0
29        1  Regular customer.           20.0
30        1  Regular customer.           20.0
31        1  Regular customer.           20.0
32        1  Regular customer.           20.0
33        1  Regular customer.           20.0
34        1  Regular customer.           20.0
35        1  Regular customer.           20.0
36        1  Regular customer.           20.0
37        1  Regular customer.           20.0
38        1  Regular customer.           20.0
39        1  Regular customer.           20.0
40        1  Regular customer.           20.0
41        1  Regular customer.           20.0
42        1  Regular customer.           20.0
43        1  Regular customer.           20.0
44        1  Regular customer.           20.0
45        1  Regular customer.           20.0
46        1  Regular customer.           20.0
47        1  Regular customer.           20.0
48        1  Regular customer.           20.0
49        1  Regular customer.           20.0
50        1  Regular customer.           20.0
51        1  Regular customer.           20.0
52        1  Regular customer.           20.0
53        1  Regular customer.           20.0
54        1  Regular customer.           20.0
55        1  Regular customer.           20.0
56        1  Regular customer.           20.0
57        1  Regular customer.           20.0
58        1  Regular customer.           20.0
59        2  Regular customer.           13.0

In [88]:
ords_prods_merge.head(1)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_label,busiest_day,Busiest_days,busiest_period_of_day.,max_order,loyalty_flag,mean_prices,cust_frequent,spender_flag,freq_flag
0,2539329,1,prior,1,2,8,11.114836,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,Regular customer.,6.367797,20.0,Low spender,Regular customer.

In [ ]:
#8

In [89]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_task4.8.pkl'))

In [90]:
ords_prods_merge.head(1)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_label,busiest_day,Busiest_days,busiest_period_of_day.,max_order,loyalty_flag,mean_prices,cust_frequent,spender_flag,freq_flag
0,2539329,1,prior,1,2,8,11.114836,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,Regular customer.,6.367797,20.0,Low spender,Regular customer.