In [6]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [7]:
path = r'C:\Users\johan\Documents\Insta Basket Analysis'

In [8]:
path

'C:\\Users\\johan\\Documents\\Insta Basket Analysis'

In [9]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [10]:
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [ ]:
# 2. Run the df.describe() function on your df_ords dataframe. 
# Using your new knowledge about how to interpret the output of this function, 
# share in a markdown cell whether anything about the data looks off or should be investigated further.

In [11]:
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [ ]:
# 3. Check for mixed-type data in your df_ords dataframe.

In [16]:
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

C:\Users\johan\AppData\Local\Temp\ipykernel_7428\1946670780.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\johan\AppData\Local\Temp\ipykernel_7428\1946670780.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\johan\AppData\Local\Temp\ipykernel_7428\1946670780.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\johan\AppData\Local\Temp\ipykernel_7428\1946670780.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\johan\AppData\Local\Temp\ipykernel_7428\1946670780.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\johan\AppData\Local\Temp\ipykernel_7428\1946670780.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\johan\AppData\Local\Temp\ipykernel_7428\1946670780.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)

In [18]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   orders_day_of_week      int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [ ]:
# 4. If you find mixed-type data, fix it. The column in question should contain observations of a single data type.

In [ ]:
# No

In [ ]:
# 5. Run a check for missing values in your df_ords dataframe.
#    In a markdown cell, report your findings and propose an explanation for any missing values you find.

In [22]:
df_ords.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [23]:
df_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [24]:
df_nan

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
11,2168274,2,prior,1,2,11,NaN
26,1374495,3,prior,1,1,14,NaN
39,3343014,4,prior,1,6,11,NaN
45,2717275,5,prior,1,3,12,NaN
...,...,...,...,...,...,...,...
3420930,969311,206205,prior,1,4,12,NaN
3420934,3189322,206206,prior,1,3,18,NaN
3421002,2166133,206207,prior,1,6,19,NaN
3421019,2227043,206208,prior,1,1,15,NaN
3421069,3154581,206209,prior,1,3,11,NaN

In [ ]:
# 6. Address the missing values using an appropriate method.

In [ ]:
# this missing value 6% from whole row, this cannot be deleted, and seem this caused by system failure
# This could be 0 or but since there also 0 value and there is no outlier then I change it to mean value =

In [27]:
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [29]:
# counting descriptive statistic
mean_days = df_ords['days_since_prior_order'].mean()
median_days = df_ords['days_since_prior_order'].median()
max_days = df_ords['days_since_prior_order'].max()
min_days = df_ords['days_since_prior_order'].min()

#  show the result
print("üìä Statistik kolom 'days_since_prior_order'")
print("-------------------------------------------")
print("Rata-rata (mean)  :", mean_days)
print("Median            :", median_days)
print("Nilai maksimum    :", max_days)
print("Nilai minimum     :", min_days)

üìä Statistik kolom 'days_since_prior_order'
-------------------------------------------
Rata-rata (mean)  : 11.114836226863012
Median            : 7.0
Nilai maksimum    : 30.0
Nilai minimum     : 0.0

In [ ]:
# change the missing with mean

In [31]:
df_ords['days_since_prior_order'].fillna(11.114836226863012, inplace=True)

C:\Users\johan\AppData\Local\Temp\ipykernel_7428\3692842328.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_ords['days_since_prior_order'].fillna(11.114836226863012, inplace=True)

In [32]:
df_ords.isnull().sum()

order_id                  0
user_id                   0
eval_set                  0
order_number              0
orders_day_of_week        0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

In [37]:
df_ords.shape

(3421083, 7)

In [40]:
df_ords_clean = df_ords[df_ords['days_since_prior_order'].isnull() == False]

In [42]:
df_ords_clean.shape

(3421083, 7)

In [ ]:
# 7. Run a check for duplicate values in your df_ords data.

In [43]:
df_dups = df_ords_clean[df_ords_clean.duplicated()]

In [44]:
df_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

In [45]:
df_dups.shape

(0, 7)

In [ ]:
# No duplicate

In [ ]:
# 9. Export your final, cleaned df_prods and df_ords data as ‚Äú.csv‚Äù files in your ‚ÄúPrepared Data‚Äù folder and give them appropriate, succinct names.

In [54]:
df_ords_clean.to_csv(os.path.join(path, '02 Data','Prepared Data', 'df_ords_clean.csv'))

In [55]:
df_ords_clean.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,8.924952e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [62]:
df_ords_clean.isnull().sum()

order_id                  0
user_id                   0
eval_set                  0
order_number              0
orders_day_of_week        0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

In [60]:
df_ords_clean.shape

(3421083, 7)

In [61]:
df_ords_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   orders_day_of_week      int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB