# Task 4.4

In [191]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [192]:
path = r'C:\Users\johan\Documents\Insta Basket Analysis'

In [193]:
path

'C:\\Users\\johan\\Documents\\Insta Basket Analysis'

In [194]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [195]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [196]:
# Dropping eval_set from orders.csv

df_ords = df_ords.drop(columns = ['eval_set'])

In [197]:
df_ords.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# Task 2

In [ ]:
Task 2
# Find another identifier variable in the df_ords dataframe that doesn’t need to be included in your analysis as a numeric variable and 
# change it to a suitable format.

In [164]:
df_ords.dtypes

order_id                   object
user_id                     int64
eval_set                   object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [ ]:
# As order_id is a unique id not for calculation or statitical purpose

In [165]:
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [166]:
df_ords['order_id'].dtypes

dtype('O')

# Task 3

In [128]:
# Look for a variable in your df_ords dataframe with an unintuitive name and change its name without overwriting the dataframe.

In [198]:
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [199]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# Task 4

In [131]:
# Your client wants to know what the busiest hour is for placing orders. Find the frequency of the corresponding variable and share your findings.

In [176]:
df_ords['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

In [133]:
# Order at 10 is peak hour

In [134]:
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

# Task 5

In [140]:
# Determine the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary.

# data dictionary

In [177]:
data_dict = df_dep_t_new.to_dict('index')

In [178]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [143]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [144]:
print(data_dict.get('4'))

{'department': 'produce'}

# Task 6

In [145]:
# The sales team in your client’s organization wants to know more about breakfast item sales. 
# Create a subset containing only the required information.

In [146]:
df_prods[df_prods['department_id']==14]

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6
...,...,...,...,...,...
49330,49326,Cereal Variety Fun Pack,121,14,9.1
49395,49391,Light and Fluffy Buttermilk Pancake Mix,130,14,2.0
49547,49543,Chocolate Cheerios Cereal,121,14,10.8
49637,49633,Shake 'N Pour Buttermilk Pancake Mix,130,14,14.2
49667,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14,10.2

In [147]:
# Brief Summary

# The subset df_prods[df_prods['department_id'] == 14] contains 1,116 breakfast items, including:

# Cereal, pancake mix, granola, and protein shakes.

# Prices vary between approximately $2 and $14.

# This data is ready to be used for sales analysis, trends, or breakfast product recommendations.

# Task 7 and 8

In [148]:
# They’d also like to see details about products that customers might use to throw dinner parties. 
# Your task is to find all observations from the entire dataframe that include items from the following departments: 
#      alcohol, deli, beverages, and meat/seafood. You’ll need to present this subset to your client.

In [149]:
# identify dept of alcohol, deli, beverages, and meat/seafood = 5, 20, 7, 12

In [150]:
# Filter dataframe for those department IDs

In [151]:
df_dinnerparty = df_prods[df_prods['department_id'].isin([5, 7, 12, 20])]

In [152]:
df_dinnerparty.head()

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1

In [153]:
df_dinnerparty.tail()

,product_id,product_name,aisle_id,department_id,prices
49676,49672,Cafe Mocha K-Cup Packs,26,7,6.5
49679,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,14.0
49680,49676,Ultra Red Energy Drink,64,7,14.5
49686,49682,California Limeade,98,7,4.3
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3

In [154]:
df_dinnerparty.shape

(7650, 5)

In [155]:
# 7650 row of 5 columns

# Task 9, 10, 11

In [156]:
# Someone from the data engineers team in Instacart thinks they’ve spotted something strange about the customer with a "user_id" of “1.” 
# Extract all the information you can about this user.

In [157]:
# Filter all data for user_id = 1
user1_orders = df_ords[df_ords['user_id'] == 1]

In [158]:
# Preview the results
print(user1_orders)

   order_id  user_id eval_set  order_number  orders_day_of_week  \
0   2539329        1    prior             1                   2
1   2398795        1    prior             2                   3
2    473747        1    prior             3                   3
3   2254736        1    prior             4                   4
4    431534        1    prior             5                   4
5   3367565        1    prior             6                   2
6    550135        1    prior             7                   1
7   3108588        1    prior             8                   1
8   2295261        1    prior             9                   1
9   2550362        1    prior            10                   4
10  1187899        1    train            11                   4

    order_hour_of_day  days_since_prior_order
0                   8                     NaN
1                   7                    15.0
2                  12                    21.0
3                   7                    29.0
4                  15                    28.0
5                   7                    19.0
6                   9                    20.0
7                  14                    14.0
8                  16                     0.0
9                   8                    30.0
10                  8                    14.0

In [159]:
# Summary statistics
print(user1_orders.describe())

       user_id  order_number  orders_day_of_week  order_hour_of_day  \
count     11.0     11.000000           11.000000          11.000000
mean       1.0      6.000000            2.636364          10.090909
std        0.0      3.316625            1.286291           3.477198
min        1.0      1.000000            1.000000           7.000000
25%        1.0      3.500000            1.500000           7.500000
50%        1.0      6.000000            3.000000           8.000000
75%        1.0      8.500000            4.000000          13.000000
max        1.0     11.000000            4.000000          16.000000

       days_since_prior_order
count               10.000000
mean                19.000000
std                  9.030811
min                  0.000000
25%                 14.250000
50%                 19.500000
75%                 26.250000
max                 30.000000

In [160]:
# Check ordering pattern
print("\nOrders by day of week:")
print(user1_orders['orders_day_of_week'].value_counts())

Orders by day of week:
orders_day_of_week
4    4
1    3
3    2
2    2
Name: count, dtype: int64

In [161]:
print("\nOrders by hour of day:")
print(user1_orders['order_hour_of_day'].value_counts())

Orders by hour of day:
order_hour_of_day
8     3
7     3
12    1
15    1
9     1
14    1
16    1
Name: count, dtype: int64

In [162]:
# This helps you see:

# Whether they order at unusual hours (e.g., 3 AM)

# If they place orders every day or with unusual gaps

# If any value looks inconsistent (e.g., negative days or skipped order numbers)

In [163]:
# Pattern	                                                      Possible Interpretation
# Very small number of orders (e.g., only 4 or 5)	              This user might be a test account or a new customer.
# Identical order_hour_of_day or day_of_week across all rows	  Could indicate automated or test behavior (e.g., always ordering at 7 a.m. Monday).
# Missing or negative days_since_prior_order	                  Data entry issue or corruption.
# Very short intervals between orders (0 or 1 day repeatedly)	  Possibly an internal testing account, not a normal shopper.
# Unusually high order_number (e.g., >100)	                      Account used for system testing or data generation, not a real customer.

# Task 12

In [ ]:
# Export your df_ords dataframe as “orders_wrangled.csv” in your “Prepared Data” folder.

In [ ]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

# Task 13

In [ ]:
# Export the df_dep_t_new dataframe as “departments_wrangled.csv” in your “Prepared Data” folder so that you have a “.csv” file of your departments data in the correct format.

In [121]:
df_dep_t_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.csv'))

In [205]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))