# Merging Your Instacart Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\johan\Documents\Insta Basket Analysis'

In [3]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [4]:
#check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_clean.csv'), index_col = False)

In [6]:
#df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [7]:
#check the output
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,11.114836
1,1,2398795,1,prior,2,3,7,15.000000
2,2,473747,1,prior,3,3,12,21.000000
3,3,2254736,1,prior,4,4,7,29.000000
4,4,431534,1,prior,5,4,15,28.000000

In [8]:
df_ords = df_ords.drop(columns=['Unnamed: 0'])

In [9]:
df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,11.114836
1,2398795,1,prior,2,3,7,15.000000
2,473747,1,prior,3,3,12,21.000000
3,2254736,1,prior,4,4,7,29.000000
4,431534,1,prior,5,4,15,28.000000

In [10]:
#df_ords = df_ords.drop(columns=['eval_set'])

In [11]:
df_ords_prior.shape

(32434489, 4)

In [12]:
df_ords.shape

(3421083, 7)

In [ ]:
# --- both----

In [13]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [14]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,11.114836,196,1,0,both
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,both
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,both
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,both
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,both

In [15]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [16]:
df_merged_large.shape

(32434489, 11)

In [ ]:
#-----------------------------------------------------------------------------------------------------------------

In [ ]:
# Outer

In [22]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [23]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,112108,train,4,4,10,9.0,NaN,NaN,NaN,left_only
1,2,202279,prior,3,5,9,8.0,33120.0,1.0,1.0,both
2,2,202279,prior,3,5,9,8.0,28985.0,2.0,1.0,both
3,2,202279,prior,3,5,9,8.0,9327.0,3.0,0.0,both
4,2,202279,prior,3,5,9,8.0,45918.0,4.0,1.0,both

In [24]:
df_merged_large.shape

(32640698, 11)

In [25]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [ ]:
#-------------------------------------------------------------------------------------------------------------------

In [ ]:
# --- inner --- Ini yang dipakai

In [19]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'inner')

In [21]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

In [28]:
df_merged_large.shape

(32434489, 10)

In [24]:
df_merged_large = df_ords.merge(
    df_ords_prior,
    on='order_id',
    how='inner',
    indicator=True
)

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [ ]:
# ---- Right ---- contoh saja jangan execute

In [29]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'right')

In [30]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2,202279,prior,3,5,9,8.0,33120,1,1
1,2,202279,prior,3,5,9,8.0,28985,2,1
2,2,202279,prior,3,5,9,8.0,9327,3,0
3,2,202279,prior,3,5,9,8.0,45918,4,1
4,2,202279,prior,3,5,9,8.0,30035,5,0

In [31]:
df_merged_large.value_counts()

order_id  user_id  eval_set  order_number  orders_day_of_week  order_hour_of_day  days_since_prior_order  product_id  add_to_cart_order  reordered
3421083   25247    prior     24            2                   6                  21.0                    45309       2                  0            1
2         202279   prior     3             5                   9                  8.0                     1819        8                  1            1
                                                                                                          9327        3                  0            1
                                                                                                          17794       6                  1            1
                                                                                                          28985       2                  1            1
                                                                                                                                                     ..
3         205970   prior     16            5                   17                 12.0                    17461       7                  1            1
2         202279   prior     3             5                   9                  8.0                     45918       4                  1            1
                                                                                                          43668       9                  0            1
                                                                                                          40141       7                  1            1
                                                                                                          33120       1                  1            1
Name: count, Length: 30356421, dtype: int64

In [23]:
df_merged_large.shape

(32434489, 10)

In [ ]:
# --- left --- jangan execute

In [33]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'left')

In [34]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196.0,1.0,0.0
1,2539329,1,prior,1,2,8,NaN,14084.0,2.0,0.0
2,2539329,1,prior,1,2,8,NaN,12427.0,3.0,0.0
3,2539329,1,prior,1,2,8,NaN,26088.0,4.0,0.0
4,2539329,1,prior,1,2,8,NaN,26405.0,5.0,0.0

In [35]:
df_merged_large.value_counts()

order_id  user_id  eval_set  order_number  orders_day_of_week  order_hour_of_day  days_since_prior_order  product_id  add_to_cart_order  reordered
3421083   25247    prior     24            2                   6                  21.0                    45309.0     2.0                0.0          1
2         202279   prior     3             5                   9                  8.0                     1819.0      8.0                1.0          1
                                                                                                          9327.0      3.0                0.0          1
                                                                                                          17794.0     6.0                1.0          1
                                                                                                          28985.0     2.0                1.0          1
                                                                                                                                                     ..
3         205970   prior     16            5                   17                 12.0                    17461.0     7.0                1.0          1
2         202279   prior     3             5                   9                  8.0                     45918.0     4.0                1.0          1
                                                                                                          43668.0     9.0                0.0          1
                                                                                                          40141.0     7.0                1.0          1
                                                                                                          33120.0     1.0                1.0          1
Name: count, Length: 30356421, dtype: int64

In [36]:
df_merged_large.shape

(32640698, 10)

# export pickle format

In [25]:
# Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))