In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\johan\Documents\Insta Basket Analysis'

In [3]:
# 3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [4]:
df_ords = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
# Check the output

df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,11.114836,196,1,0
1,2539329,1,prior,1,2,8,11.114836,14084,2,0
2,2539329,1,prior,1,2,8,11.114836,12427,3,0
3,2539329,1,prior,1,2,8,11.114836,26088,4,0
4,2539329,1,prior,1,2,8,11.114836,26405,5,0

In [6]:
# Check the size

df_ords.shape

(32434489, 10)

In [7]:
 # 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. 
# Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [8]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_prods_clean.csv'), index_col=False)

In [9]:
# Check the output

df_ords_prior.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
df_ords_prior = df_ords_prior.drop(columns=['Unnamed: 0'])

In [11]:
df_ords_prior.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
# Check the size

df_ords_prior.shape

(49672, 5)

In [13]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'product_id', how = 'inner', indicator=True)

In [14]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0,both
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [15]:
df_merged_large.shape

(32404859, 15)

In [15]:
#. 6 Confirm the results of the merge using the merge flag.

In [24]:
# examine value counts on '_merge' column

In [16]:
df_merged_large['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [17]:
df_merged_large = df_merged_large.drop('_merge', axis=1)

In [18]:
df_merged_large.shape

(32404859, 14)

In [19]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,11.114836,196,1,0,Soda,77,7,9.0
1,2539329,1,prior,1,2,8,11.114836,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,2539329,1,prior,1,2,8,11.114836,12427,3,0,Original Beef Jerky,23,19,4.4
3,2539329,1,prior,1,2,8,11.114836,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7
4,2539329,1,prior,1,2,8,11.114836,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0

In [17]:
# 7. Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [20]:
df_merged_large.to_pickle(os.path.join(path, '02 Data' , 'Prepared Data' , 'ords_prods_merge.pkl'))