In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\johan\Documents\Insta Basket Analysis'

In [3]:
# 3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [4]:
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
# 4. Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [6]:
orders_products_combined.shape

(32434489, 11)

In [7]:
#checking the column of the orders_product_combine 
orders_products_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [ ]:
 # 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. 
# Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [22]:
df_orders_products_combined = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.csv'), index_col = False)

In [18]:
df_ords_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_clean.csv'), index_col = False)

In [19]:
#check the output
df_ords_clean.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,11.114836
1,1,2398795,1,prior,2,3,7,15.000000
2,2,473747,1,prior,3,3,12,21.000000
3,3,2254736,1,prior,4,4,7,29.000000
4,4,431534,1,prior,5,4,15,28.000000

In [20]:
df_ords_clean.shape

(3421083, 8)

In [23]:
df_orders_products_combined.shape

(32434489, 12)

In [24]:
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [29]:

#df_merged_large = df_ords_clean.merge(df_orders_products_combined, on = 'order_id', indicator = True)

In [26]:
df_merged_large = df_ords_clean.merge(df_orders_products_combined, on='order_id', indicator='_merge_check')

In [27]:
df_merged_large.head()

,Unnamed: 0_x,order_id,user_id_x,eval_set_x,order_number_x,orders_day_of_week_x,order_hour_of_day_x,days_since_prior_order_x,Unnamed: 0_y,user_id_y,eval_set_y,order_number_y,orders_day_of_week_y,order_hour_of_day_y,days_since_prior_order_y,product_id,add_to_cart_order,reordered,_merge,_merge_check
0,0,2539329,1,prior,1,2,8,11.114836,0,1,prior,1,2,8,NaN,196,1,0,both,both
1,0,2539329,1,prior,1,2,8,11.114836,1,1,prior,1,2,8,NaN,14084,2,0,both,both
2,0,2539329,1,prior,1,2,8,11.114836,2,1,prior,1,2,8,NaN,12427,3,0,both,both
3,0,2539329,1,prior,1,2,8,11.114836,3,1,prior,1,2,8,NaN,26088,4,0,both,both
4,0,2539329,1,prior,1,2,8,11.114836,4,1,prior,1,2,8,NaN,26405,5,0,both,both

In [28]:
df_merged_large['_merge'].value_counts()

_merge
both    32434489
Name: count, dtype: int64

In [36]:
df_merged_large.shape

(32434489, 20)

In [ ]:
# 6. Confirm the results of the merge using the merge flag.

In [33]:
df_merged_large1['_merge'].value_counts()

_merge
both    32434489
Name: count, dtype: int64

In [ ]:
# 7. Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [38]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))